body { background: #a339a1; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 49px; display: flex; }
.block-uploader-0 { color: #1db358; font-size: 19px; margin-bottom: 5px; }
.block-email-1 { color: #5b4dda; font-size: 14px; margin-bottom: 5px; }
.block-router-2 { color: #abf979; font-size: 16px; margin-bottom: 5px; }
.block-shipping-3 { color: #750bbc; font-size: 19px; margin-bottom: 5px; }
.block-cart-4 { color: #d648e7; font-size: 17px; margin-bottom: 5px; }
.block-shipping-5 { color: #d97991; font-size: 15px; margin-bottom: 5px; }